.chou {
    position: fixed;
    right:2px;
    z-index:99999;
 border:solid 3px #666;
 padding:5px;
     top:220px;
     width:76px;
     background:#FFF;
     color:#F00;
}
    .chou img {
    width:60px;
    }
    .chou a {
     color:#F00;
    }